header {
  border: 1px dashed #333333;
  width: 600px;
  height: 400px;
}
nav {
  border: 1px dashed #333333;
  width: 600px;
  height: 400px;
}
main {
  border: 1px dashed #333333;
  width: 600px;
  height: 400px;
}
footer {
  border: 1px dashed #333333;
  width: 600px;
  height: 400px;
}